@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Oswald', 'Open Sans', sans-serif;
}
button {
    background: #ffffff;
    border: none;
    outline: 0;
    cursor: pointer;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}


/* ----- Header ----- */
header {
    background: url(../img/intro-img.png) center no-repeat;
    background-size: cover;
    position: absolute;
    min-height: 907px;
    width: 100%;
    z-index: 5;
}
.navigation__list {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.navigation__item a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.94px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.navigation__item:not(:first-child) {
    margin-left: 60px;
}
.navigation__item:after {
    content: '';
    position: relative;
    display: flex;
    width: 18px;
    height: 2px;
    background-color: #4CAF50;
    margin-left: auto;
    transition: .3s;
}
.navigation__item:hover:after {
    content: '';
    width: 100%;
    transition: .3s;
}


.intro {
    position: relative;
    padding-bottom: 75px;
}
.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 907px;
    color: #ffffff;
}
.intro__title {
    font-size: 72px;
    line-height: 106px;
    letter-spacing: 4.61px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 25px;
}
.intro__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.28px;
    opacity: 0.8;
    font-weight: 300;
}
.intro__numbers {
    display: flex;
    position: relative;
    top: 350px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.intro__title, .intro__item, .intro__numbers {
    z-index: 5;
}
.intro__numbers span {
    font-size: 18px;
    line-height: 26.68px;
    letter-spacing: 1.15px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.437245);
    cursor: pointer;
}
.intro__numbers span:not(:last-child) {
    margin-right: 10px;
}
.intro__numbers span.active {
    position: relative;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 2.3px;
    color: #ffffff;
}
.intro__numbers span.active:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0%;
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #4CAF50;
}


/* ----- Squad ----- */
.squad {
    padding-top: 120px;
}
.squad__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 2.3px;
    color: #333333;
    text-transform: uppercase;
    z-index: 5;
}
.squad__title span {
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 2.69px;
    font-weight: 300;
    color: #504E4E;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
}
.squad__item {
    max-width: 310px;
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.26px;
    font-weight: 300;
    color: #5B5858;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    z-index: 5;
}
.squad__item:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -30px;
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #353535;
}
.squad img {
    position: relative;
}
.first-img {
    bottom: 320px;
    left: 16%;
    z-index: 4;
}
.second-img {
    bottom: 240px;
    left: 85px;
    z-index: 3;
}
.third-img {
    bottom: 160px;
    right: 20px;
}
.squad__item:last-child {
    bottom: 320px;
    left: 72%;
}


/* ----- Services ----- */
.services {
    padding: 120px 0px 130px 0px;
    background: #FBFBFB;
}
.caption {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.07px;
    color: #252525;
    font-weight: 700;
}
.caption:after {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    margin-top: 5px;
    background-color: #252525;
}
.services__block {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    gap: 30px;
}
.services__column {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 35px 35px;
}
.services__column--active {
    border-bottom: 3px solid #70BF73;
}
.block__row {
    display: flex;
    justify-content: space-between;
}
.services__title {
    font-size: 20px;
    line-height: 29.64px;
    letter-spacing: 1.28px;
    color: #252525;
    font-weight: 300;
    text-transform: uppercase;
}
.services__title:after {
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    margin-top: 15px;
    background-color: #252525;
}
.services span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #DBDBDB;
}
.services__column img {
    width: 25px;
    height: 25px;
    opacity: 0.5;
}
.services__item {
    margin: 20px 0px;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.01px;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
}
.read {
    font-size: 10px;
    line-height: 14.82px;
    letter-spacing: 0.64px;
    font-weight: 300;
    color: #252525;
    opacity: 0.5;
    text-transform: uppercase;
    transition: .2s;
}
.read:hover {
    color: #4CAF50;
    transition: .2s linear;
    text-decoration: underline;
}
.services__column--active img,
.services__column--active .read {
    opacity: 1;
}


/* ----- Works ----- */
.works {
    padding-top: 210px;
}
.works__list {
    display: flex;
    margin-top: 50px;
}
.works .link {
    font-size: 13px;
    line-height: 17.7px;
    letter-spacing: 0.83px;
    color: #252525;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    opacity: 0.3;
    transition: .2s;
    text-transform: uppercase;
}
.works .link:hover {
    opacity: 1;
    transition: .2s;
}
.works .list__item:not(:last-child) {
    margin-right: 40px;
}
.works .link--active {
    opacity: 1;
}

.works__content {
    display: flex;
    position: relative;
}
.content__photo {
    display: flex;
    max-width: 610px;
}
.content__photo img {
    position: relative;
}
.optional__title {
    position: relative;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.07px;
    color: #252525;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
}
.works__content--photography .optional__title {
    left: 6%;
    top: 26%;
}
.works__content--photography img {
    right: 22%;
    bottom: 33%;
}
.works__content--kitten .content__photo {
    max-width: 670px;
}
.works__content--kitten .optional__title {
    right: 13%;
    top: 10%;
}
.works__content--kitten .optional__title:before {
    content: '';
    position: absolute;
    top: 10%;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #70BF73;
}
.works__content--kitten .optional__title span:before {
    content: '';
    position: absolute;
    bottom: 75%;
    display: inline-block;
    width: 37%;
    height: 2px;
    background: #70BF73;
}
.works__content--kitten img {
    bottom: 50%;
}
.content__item {
    position: relative;
}
.works__content--kitten .content__item {
    margin: 0 auto;
    bottom: 120px;
    text-align: right;
}
.content__item h5 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24.51px;
    letter-spacing: 1.15px;
    color: #252525;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.content__item p {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.83px;
    color: #C2C2C2;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.works__content--groovemade {
    justify-content: space-between;
}
.works__content--groovemade .content__photo {
    max-width: 865px;
}
.works__content--groovemade .content__item {
    max-height: 150px;
    bottom: 195px;
    left: 15%;
}
.works__content--groovemade .link--active {
    position: relative;
}
.works__content--groovemade .link--active:before {
    content: '';
    position: absolute;
    bottom: 40%;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #70BF73;
    transition: .3s;
}
.works__content--groovemade .link--active:hover:before {
    width: 0;
    transition: .3s;
}
.works__content--groovemade .content__photo {
    position: relative;
    bottom: 293px;
}
.works__content--groovemade .optional__title {
    left: 33%;
    top: 59%;
}

.works__content--apple .content__photo {
    position: relative;
    max-width: 710px;
    bottom: 377px;
}
.works__content--apple .optional__title {
    top: 60%;
    right: 12%;
}
.works__content--apple .content__item {
    bottom: 260px;
    margin: 0 auto;
    text-align: right;
}

.works__content--view {
    justify-content: space-between;
    bottom: 190px;
    align-items: center;
}
.works__content--view .content__item {
    left: 15%;
}
.works .view {
    font-size: 13px;
    line-height: 19.27px;
    letter-spacing: 2px;
    color: #252525;
    transition: .2s linear;
}
.works .view:hover {
    color: #4CAF50;
    transition: .2s linear;
    text-decoration: underline;
}


/* ----- Team ----- */
.team {
    padding: 130px 0px 165px 0px;
    background: #FBFBFB;
}
.team__caption {
    margin-bottom: 70px;
}
.team__images {
    display: flex;
    gap: 30px;
}
.images {
    display: flex;
    flex-direction: column;
    position: relative;
}
.images img {
    position: relative;
    display: flex;
}
.info__block {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 15px 0px;
    background-color:rgba(255, 255, 255, 0.5);
    transition: .4s linear;
}
.info__block .info__name:after {
    display: none;
    opacity: 0;
}
.info__block p:not(.info__name) {
    display: none;
    opacity: 0;
}
.info__block:hover {
    padding: 20px 0px 30px 0px;
    background-color:rgba(255, 255, 255, 0.93);
    transition: .4s linear;
}
.info__block p {
    transition: .4s linear;
    opacity: 1;
}
.info__block:hover p,
.info__block:hover .info__name:after {
    display: block;
    transition: .4s linear;
    opacity: 1;
}
.info__name,
.info__post {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 26.68px;
    letter-spacing: 1.15px;
    font-weight: 300;
    color: #252525;
    text-transform: uppercase;
}
.info__name:after {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    margin: 10px auto 0px;
    background-color: #252525;
}
.info__post {
    margin-bottom: 12px;
    text-transform: none;
}
.info__creator {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.01px;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
}


/* ----- Testimonials ----- */
.testimonial {
    padding: 115px 0px 145px 0px;
}
.testimonial__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.testimonial__quote {
    max-width: 735px;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.9px;
    color: #373737;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.testimonial__quote:after {
    content: '';
    display: block;
    background: url(../img/hand-drown.png) no-repeat;
    width: 20px;
    height: 20px;
    margin: 30px auto;
}
.testimonial__autor span {
    font-size: 18px;
    line-height: 26.68px;
    letter-spacing: 1.15px;
    color: rgb(55, 55, 55, 1);
}
.testimonial__autor {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 0.9px;
    color: rgb(55, 55, 55, .3);
}
.slide__arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial button:not(:last-child) {
    margin-right: 10px;
}
.line {
    display: flex;
    width: 510px;
    height: 1px;
    margin: 10px auto 0px;
    background: #D8D8D8;
    opacity: 0.5;
}


/* ----- Contact ----- */
.contact__container {
    display: flex;
}
.section {
    width: 50%;
    padding: 70px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section img {
    margin-bottom: 20px;
}
.section h3 {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 35.57px;
    letter-spacing: 2.67px;
}
.section-work__together {
    color: #373737;
}
.section-contact__us {
    background: #70BD59;
    color: #ffffff;
}
.section p {
    font-size: 14px;
    line-height: 19.07px;
    letter-spacing: 1.56px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
}


/* ----- Footer ----- */
footer {
    text-align: center;
    background-color: #2E2E2E;
}
.footer__top {
    padding: 80px 0px;
}
.footer__logo {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 3.07px;
    color: rgb(255, 255, 255, .8);
}
footer a,
footer p {
    display: inline-block;
    font-size: 13px;
    line-height: 19.27px;
    letter-spacing: 0.83px;
    font-weight: 300;
    color: rgb(255, 255, 255, .5);
}
.footer__adress {
    margin-bottom: 10px;
}
.footer__mail {
    margin-bottom: 40px;
}
.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer__icons img {
    opacity: 0.5;
    transition: .3s;
}
.footer__icons img:hover {
    opacity: 1;
    transition: .3s;
}
.copyright {
    width: 100%;
    padding: 20px 0px;
    background: #252525;
}